services:
  app:
    image: lscr.io/linuxserver/homeassistant
    restart: unless-stopped
    depends_on:
      - db
      - broker
      - bridge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/${POSTGRES_DB}
      - DOCKER_MODS=linuxserver/mods:homeassistant-hacs
      - CADDY_DOMAIN=${CADDY_DOMAIN_HASS}
      - CADDY_TYPE=${CADDY_TYPE_HASS:-external}
      - CADDY_PORT=8123
    volumes:
      - app_conf:/config
    networks:
      default:
      caddy:
      host_mode:
        ipv4_address: ${HASS_IP}

  db:
    image: pgautoupgrade/pgautoupgrade:latest
    restart: unless-stopped
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      default:
    labels:
      - ofelia.restart=true
      - ofelia.enabled=true
      - "ofelia.job-exec.${COMPOSE_PROJECT_NAME}dbbackup.schedule=0 0 1 * * *"
      - "ofelia.job-exec.${COMPOSE_PROJECT_NAME}dbbackup.command=sh -c 'pg_dumpall -U $POSTGRES_USER -f /var/lib/postgresql/backup.sql'"

  broker:
    image: eclipse-mosquitto:latest
    restart: unless-stopped
    volumes:
      - broker_data:/mosquitto/data
      - broker_log:/mosquitto/log
      - $PWD/conf/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      default:

  bridge:
    image: koenkk/zigbee2mqtt
    restart: unless-stopped
    group_add:
      - dialout
    user: 1000:1000
    depends_on:
      - broker
    environment:
      - ZIGBEE2MQTT_CONFIG_MQTT_SERVER=mqtt://broker:1883
      - ZIGBEE2MQTT_CONFIG_FRONTEND_PORT=8080
      - ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL=warning
      - ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN=ISO_8601
      - TZ
      - CADDY_DOMAIN=${CADDY_DOMAIN_Z2M}
      - CADDY_TYPE=${CADDY_TYPE:-internal}
      - CADDY_PORT=${CADDY_PORT_Z2M:-8080}
    volumes:
      - bridge_data:/app/data
    networks:
      default:
      caddy:

volumes:
  app_conf:
  db_data:
  broker_data:
  broker_log:
  bridge_data:

networks:
  caddy:

  host_mode:
    name: host_mode
    driver: macvlan
    driver_opts:
      parent: ${HOSTINTERFACE}
    ipam:
      config:
        - subnet: ${SUBNET}
